<style>
    .footer{
        position: relative;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
    }
</style>
<center>
    <footer class="footer bg-danger">
        <div class="container">
            <span class="text-light">@Todos los derechos reservados Luis Antonio Romero Villanueva</span>
        </div>
    </footer>
</center>
</body>
</html>