<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<section style="display: flex; align-items: center; background-color:khaki; justify-content: center;">
    <div id="formulario" style="border: solid gainsboro; margin-top: 20px; margin-bottom: 20px; padding: 20px; border-radius: 10px;">
        <form action="/" method="post">
            <div class="mb-3">
                <label for="" class="form-label">Número de Recibo:</label>
                <input class="form-control" type="number" name="recibo" id="recibo" required>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Nombre:</label>
                <input class="form-control" type="text" name="nombre" id="nombre" required value=<%=nombre%>>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Domicilio:</label>
                <input class="form-control" type="text" name="domicilio" id="domicilio" required value=<%=domicilio%>>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Tipo de Servicio:</label>
                <select class="form-select" required name="servicio" id="servicio" value=<%=servicio%>>
                    <option value="Doméstico">Doméstico</option>
                    <option value="Comercial">Comercial</option>
                    <option value="Industrial">Industrial</option>
                </select>
            </div> 
            <div class="mb-3">
                <label for="" class="form-label">Kilowatts Consumidos:</label>
                <input class="form-control" type="number" name="kW" id="kW" required value=<%=kW%>>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Enviar Información</button>
            <button type="reset" class="btn btn-secondary"><a href="/" style="color: black; text-decoration: none;">Limpiar</a></button>
            <br>
        </form>
        <br>
    </div>
</section>
<%-include('partials/footer.ejs')%>