<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<%
    let costoKw;
    switch(servicio){
        case 'Doméstico': costoKw = 1.08; break;
        case 'Comercial': costoKw = 2.5; break;
        case 'Industrial': costoKw = 3.0; break;
    }
    const subTotal = costoKw * kW;
    const impuesto = subTotal * 0.16;
    let descuento;
    if(kW <= 1000) descuento = subTotal * 0.10;
    else if(kW <= 10000) descuento = subTotal * 0.20;
    else if(kW > 10000) descuento = subTotal * 0.50;
    const total = subTotal + impuesto - descuento;
%>
<section style="background-color:khaki">
    <table class="table">
        <thead>
            <tr style="text-align:center;">
                <th scope="col">Nombre</th>
                <th scope="col">Tipo de Servicio</th>
                <th scope="col">KiloWatts Conumidos</th>
                <th scope="col">Costo por kW</th>
            </tr>
            <tbody style="text-align:center;">
                <tr>
                    <td><%=nombre%></td>
                    <td><%=servicio%></td>
                    <td><%=kW%> kW</td>
                    <td>$ <%=costoKw%> / kW</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td> </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Subtotal:</td>
                    <td>$ <%=subTotal.toFixed(2)%></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Impuesto: </td>
                    <td>+ $ <%=impuesto.toFixed(2)%></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Descuento: </td>
                    <td>- $ <%=descuento.toFixed(2)%></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="font-weight: bold;">Total a Pagar: </td>
                    <td>$ <%=total.toFixed(2)%></td>
                    <td></td>
                </tr>
            </tbody>
        </thead>
    </table>
</section>
<%-include('partials/footer.ejs')%>